body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  background-image: linear-gradient(
    white 35%,
    salmon 52%,
    rgb(255, 187, 161) 70%,
    lightgray 85%
  );
}

a {
  text-decoration: none;
  color: whitesmoke;
}

a:hover {
  color: lightsalmon;
}

a:active {
  color: whitesmoke;
}

nav {
  width: 100%;
  height: 75px;

  display: flex;
  justify-content: space-between;
}

.logo {
  height: 50px;
  border-radius: 50%;
  margin: 15px 0 0 20px;
}

.nav-bar {
  /*margin: auto 30px;*/
  list-style-type: none;
  text-transform: uppercase;
  font-size: 20px;

  display: flex;
  justify-content: flex-end;
}

.nav-links {
  color: darkslategrey;
  margin: 15px 15px;
}

.nav-links:active {
  color: darkslategrey;
}

.hero {
  width: 90%;
  height: auto;
  background-color: rgb(215, 233, 240);
  margin: 10px 0 15px 0;
  border: solid salmon 2px;
  border-radius: 30px;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.hero-info {
  margin: 30px;
  max-width: 300px;
}

#name {
  color: darkslategray;
  text-align: center;
  font-family: "Potta One", cursive;
  font-size: 25px;
}

.styled-break {
  width: 30px;
  height: 5px;
  background-color: lightsalmon;
  border-radius: 2.5px;
  margin: 30px 0;
}

.button {
  width: 80px;
  margin: 10px;
  text-align: center;
  border: 0;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 20px;
  color: whitesmoke;
  background-color: salmon;
}

.button:hover {
  background-color: lightsalmon;
  color: whitesmoke;
}

.button:active {
  box-shadow: inset -2px -2px 5px salmon;
}

.hero-image {
  width: 300px;
  margin: 30px;
  border-radius: 40px;
}

section {
  width: 100%;
  height: 300px;
  /* background-color: rgb(255, 174, 164); */
  background-image: linear-gradient(
    180deg,
    salmon,
    rgb(255, 187, 161),
    lightgray
  );

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.avatar {
  width: 200px;
  border-radius: 20px;
  margin-left: 10px;
}

.test {
  width: 30px;
  height: 30px;
  background-color: whitesmoke;
  margin: 10px;
}

#main {
  box-shadow: 10px 20px 5px grey;
}

footer {
  width: 100%;
  height: 100%;
  background-color: darkslategray;
  color: whitesmoke;
  list-style-type: circle;
  line-height: 180%;
}
